<!DOCTYPE html>
<html>
<head>
    <title>Бланк "{{lead.header}}"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>

        @page {
            size: A4 portrait;
            margin: 10mm 8mm 10mm 8mm;
        }

        .qr-code {
            width: 30mm;
            height: 30mm;
            float: right;
            border: 1px solid red;
        }

        .qr-code__desc {
            float: right;
            width: 31mm;
            padding-top: 11mm;
            margin-right: 2mm;
            vertical-align: bottom;
            font-size: 6pt;
        }

        table.invoice_bank_rekv {
            border-collapse: collapse;
            border: 1px solid;
        }

        table.invoice_bank_rekv > tbody > tr > td, table.invoice_bank_rekv > tr > td {
            border: 1px solid;
        }

        table.invoice_items {
            border: 1px solid;
            border-collapse: collapse;
        }

        table.invoice_items td, table.invoice_items th {
            border: 1px solid;
        }
    </style>
</head>
<body>
<table width="100%">
    <tbody>
        <tr>
            <td >&nbsp;
                <img src="{{ organization.logo_svg }}" class="logo" style="width: 40mm;"/>
            </td>
            <td style="width: 151mm;">
                <div style="width:151mm; ">
{#                    <img src="{{ organization.logo_svg }}" class="logo"/>#}
                    {% if qr_svg %}
                        <img src="{{ qr_svg }}" class="qr-code"/>
                        <div class="qr-code__desc">
                            Отсканируйте этот QR-код в мобильном приложении или в банкомате вашего банка для быстрой оплаты
                        </div>
                    {% endif %}
                </div>
            </td>
        </tr>
    </tbody>
</table>

<table width="100%" cellpadding="2" cellspacing="2" class="invoice_bank_rekv" style="font-size: 8pt;">
    <tbody>
    <tr>
        <td colspan="2" rowspan="2" style="min-height:13mm; width: 105mm;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="width: 105mm;">
                <tbody>
                    <tr>
                        <td valign="top" style="min-height: 7mm;">
                            <div>{{organization.bank_name}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td valign="bottom">
                            <div style="height: 3mm;">Банк получателя</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td style="min-height:7mm;height:auto; width: 25mm;">
            <div>БИK</div>
        </td>
        <td rowspan="2" style="vertical-align: top; width: 60mm;">
            <div style=" height: 7mm; line-height: 7mm; vertical-align: middle;">{{organization.bic}}</div>
            <div>{{organization.corresp_acc}}</div>
        </td>
    </tr>
    <tr>
        <td style="width: 25mm;">
            <div>Сч. №</div>
        </td>
    </tr>
    <tr>
        <td style="min-height:6mm; height:auto; width: 50mm;">
            <div>ИНН {{organization.inn}}</div>
        </td>
        <td style="min-height:6mm; height:auto; width: 55mm;">
            <div>КПП {{ organization.kpp }}</div>
        </td>
        <td rowspan="2" style="min-height:19mm; height:auto; vertical-align: top; width: 25mm;">
            <div>Сч. №</div>
        </td>
        <td rowspan="2" style="min-height:19mm; height:auto; vertical-align: top; width: 60mm;">
            <div>{{organization.personal_acc}}</div>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="min-height:13mm; height:auto;">

            <table border="0" cellpadding="0" cellspacing="0" style="height: 13mm; width: 105mm;">
                <tbody>
                <tr>
                    <td valign="top">
                        <div>{{organization.full_name|upper}}</div>
                    </td>
                </tr>
                <tr>
                    <td valign="bottom" style="height: 3mm;">
                        <div>Получатель</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<br>

<div style="font-weight: bold; font-size: 12pt; padding-left:5px;">
    {{lead.header}}
</div>
<br>

<div style="background-color:#000000; width:100%; font-size:1px; height:2px;">&nbsp;</div>

<table width="100%">
    <tbody>
    <tr>
        <td style="width: 30mm; font-size: 10pt;">
            <div style="padding-left:2px; font-weight: bold;">Поставщик:</div>
        </td>
        <td style="font-size: 8pt;">
            {{organization.full_name}}, ИНН {{organization.inn}}, КПП {{organization.kpp}}<br>{{organization.address}}
        </td>
    </tr>
    <tr>
        <td style="width: 30mm; font-size: 10pt;">
            <div style=" padding-left:2px; font-weight:bold;">Покупатель:</div>
        </td>
        <td style="font-size: 8pt;">
            {{lead.payer_full_description}}
        </td>
    </tr>
    </tbody>
</table>


<table class="invoice_items" width="100%" cellpadding="2" cellspacing="2">
    <thead>
    <tr style="font-size: 8pt;">
        <th style="width:13mm;">№</th>
        <th style="width:84mm; text-align: center; ">Товары (работы, услуги)</th>
        <th style="width:20mm; text-align: center; ">Кол-во</th>
        <th style="width:17mm; text-align: center; ">Ед.</th>
        <th style="width:27mm; text-align: center; ">Цена</th>
        <th style="width:27mm; text-align: center; ">Сумма</th>
    </tr>
    </thead>
    <tbody>
        <tr style="font-size: 8pt;">
            <td style="width:13mm; ">1</td>
            <td style="width:84mm; ">{{lead.service_description}}</td>
            <td style="width:20mm; text-align: center;">1</td>
            <td style="width:17mm; text-align: center;">Шт.</td>
            <td style="width:27mm; text-align: right; ">{{format_decimal(lead.sum, format='#,##0.00;-#', locale='ru')}}</td>
            <td style="width:27mm; text-align: right; ">{{format_decimal(lead.sum, format='#,##0.00;-#', locale='ru')}}</td>
        </tr>
    </tbody>
</table>

<table border="0" width="100%" cellpadding="1" cellspacing="1">
    <tbody>
    <tr style="font-size: 9pt;">
        <td style="width:13mm; "></td>
        <td style="width:84mm; "></td>
        <td style="width:20mm; "></td>
        <td style="width:17mm; "></td>
        <td style="width:25mm; font-weight:bold;  text-align:right;">Итого:</td>
        <td style="width:27mm; font-weight:bold;  text-align:right;">{{format_decimal(lead.sum, format='#,##0.00;-#', locale='ru')}}</td>
    </tr>
    <tr style="font-size: 9pt;">
        <td style="width:13mm; "></td>
        <td style="width:84mm; "></td>
        <td style="width:62mm; font-weight:bold;  text-align:right; " colspan="3">{{ "Без налога (НДС):" }}</td>
        <td style="width:27mm; font-weight:bold;  text-align:right; ">-</td>
    </tr>
    <tr style="font-size: 9pt;">
        <td style="width:13mm; "></td>
        <td style="width:84mm; "></td>
        <td style="width:62mm; font-weight:bold;  text-align:right; " colspan="3">{{ "Всего к оплате:" }}</td>
        <td style="width:27mm; font-weight:bold;  text-align:right; ">{{format_decimal(lead.sum, format='#,##0.00;-#', locale='ru')}}</td>
    </tr>
    </tbody>
</table>

<br>
<div style="font-size: 8pt;">
    Всего наименований 1 на сумму {{format_decimal(lead.sum, format='#,##0.00;-#', locale='ru')}} рублей<br>
    {% set kop = format_decimal(lead.sum, format='#,##0.00;-#', locale='ru')[-2:] %}
    <span style="font-weight:bold;">{{rubles(int(lead.sum))|capitalize}} {{ kop }} {{ int(kop)|pluralize_ru("копейка,копейки,копеек")}}</span>
</div>
<br><br>
<div style="font-size: 8pt;">
    Условия оплаты: Оплата по счету производится в течение 3 (трёх) рабочих дней.
</div>
<br><br>
<div style="background-color:#000000; width:100%; font-size:1px; height:2px;">&nbsp;</div>
<br>
<table border="0" width="100%" cellpadding="1" cellspacing="1">
    <tbody>
        <tr style="font-size: 7pt;">
            <td style="width: 100mm;"><b>Директор</b> ______________________ (Королева А.В.)</td>
            <td width="50%"><b>Главный бухгалтер</b> ______________________ (Королева А.В.)</td>
        </tr>
        <tr>
            <td>
                <img style="width: 41mm; height: 41mm; margin-left: 41mm; margin-top: -10mm; transform: rotate(45deg);" src="{{ organization.stamp_png }}">
                <img style="width: 30mm; height: 15mm; margin-left: -66mm; margin-top: -9mm; position: absolute" src="{{ organization.sign_png }}">
            </td>
            <td>
                <img style="width: 30mm; height: 15mm; margin-left: 30mm; margin-top: -25mm; position: absolute;" src="{{ organization.sign_png }}">
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>
